@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #ffe1a8, #c9cba3 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #472d30;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #723d46;
    text-align: center;
    text-shadow: 1px 1px 2px #472d30;
}
h2 {
    color: #e26d5c;
}
p {
    text-align: justify;
}