body {
    background-color: black;
    color: white;
}

h1~p {
    background-color: blue;
    background-color: red;
    font-size: 2em;
}

h1~p {
    background-color: pink;
    color: inherit;
}

h1 p {
    background-color: antiquewhite;
}